.wrapperCoachInfo {
  max-width: 1440px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(34, 119, 24, 0.9837184873949579) 35%,
    rgba(28, 88, 18, 1) 100%
  );
  z-index: -1;
  min-height: 110vh;

  .container {
    z-index: 2;
    margin: 0 auto;
    width: 80%;
    display: flex;
    // border: 1px solid rgb(192, 188, 188);
    // border-radius: 10px;
    min-height: 100vh;
    gap: 50px;
    padding: 70px;
    overflow: hidden;
    background-color: white;

    .left {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .imgContainer {
        display: inline-block;
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: auto;
          height: 100%;
          // margin-left: -90px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-left: 20px;
        margin-top: 20px;
        .infoAboutCoach {
          // width: 300px;

          display: flex;
          align-items: center;
          justify-content: center;

          span {
            color: #343434;
            width: 280px;
            font-family: "Lora";
            font-size: 14px;
            letter-spacing: 2px;
          }

          .icon {
            width: 50px;
            font-size: 24px;
            color: rgb(163, 160, 160);
            margin-right: 10px;
          }
        }
      }
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      flex: 1;
      h4 {
        margin-top: 50px;
        margin-bottom: 50px;
        color: #343434;
        width: 100%;
        letter-spacing: 2px;
        font-family: "Lora";
      }
      .containerForTitles {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 8px;
        .exTitleIcon {
          color: rgb(163, 160, 160);
        }

        span.coachExTitles {
          color: #343434;
          letter-spacing: 2px;
          font-family: "Lora";
          font-size: 13px;
          text-align: center;
          width: 100%;
        }
        .notLoggedTitles {
          color: #343434;
          letter-spacing: 2px;
          font-family: "Lora";
          font-size: 13px;
          width: 100%;
        }
      }

      .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .item {
          p {
            font-family: "Lora";
            font-weight: 100;
            font-size: 16px;
            line-height: 1.8;
            letter-spacing: 2px;
            color: #343434;
          }
        }
        h2 {
          margin-top: 10px;
          color: #343434;
          width: 100%;
          text-align: center;
          letter-spacing: 2px;
          font-family: "Lora";
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapperCoachInfo .container {
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
  }

  .wrapperCoachInfo .container .left .imgContainer {
    width: 170px;
    height: 170px;
    align-self: center;
  }
  .wrapperCoachInfo .container .left .info .infoAboutCoach .icon {
    font-size: 20px;
    width: auto;
  }
  .wrapperCoachInfo .container .textContainer .items h2 {
    font-size: 22px;
  }
  .wrapperCoachInfo .container .textContainer .items .item p {
    font-size: 14px;
    text-align: justify;
  }
  .wrapperCoachInfo .container .textContainer h4 {
    font-size: 16px;
    text-align: center;
    line-height: 1.7;
  }
  .wrapperCoachInfo
    .container
    .textContainer
    .containerForTitles
    span.coachExTitles {
    font-size: 11px;
  }
}
