.footer {
  width: 100%;
  background-color: inherit;
  background-color: #386340;
  color: white;
  text-align: center;
  height: 4vh;
  font-family: "Josefin Sans";
  font-weight: 100;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
