.forgotPassword {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Josefin Sans";

  .successMailSent {
    margin-top: 30px;
    color: chocolate;
  }
  .resetP {
    font-size: 20px;
    text-align: center;
    margin-bottom: 14px;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    height: 400px;
    width: 500px;

    button {
      width: 100px;
      height: 28px;
      border: 1px solid rgb(136, 10, 10);
      background-color: rgb(135, 20, 20);
      color: white;
      border-radius: 5px;
      letter-spacing: 2px;
      margin-top: 40px;
      font-family: "Josefin Sans";
      cursor: pointer;
      transition: 0.3s;
    }
    button:hover {
      background-color: white;
      color: rgb(135, 20, 20);
      border: 1px solid rgb(136, 10, 10);
    }
  }
}

@media (max-width: 600px) {
  .forgotPassword .box {
    width: 80%;
  }
}
